@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply bg-gray-50 text-slate-900; }
}
/* Thêm vào app.css */
.manage-nav-link.active {
  @apply bg-indigo-50 text-indigo-700 font-semibold border-l-4 border-indigo-600;
}